services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/app
      - composer-cache:/root/.composer/cache
    working_dir: /app
    environment:
      - COMPOSER_MEMORY_LIMIT=-1
    tty: true

volumes:
  composer-cache:
